:root {
    --color-first: #ffffff; /*color for tag h1 and text in button in header*/
    --color-second: #212121; /*color for section headers*/
    --color-third: #757575; /*color for tag p in other sections in files index and portfolio*/
    --color-four: #2196f3; /*color for span logo and hover*/
    --color-border: rgba(175, 177, 184, 0.3); /* color for borders */
  }